<% include ./common/header %>
<% include ./common/navbar %>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">WEB+DB STUDY NOTE</h1>
        <p>NPMパッケージ使ったアプリ開発環境です</p>
        <p>node.js、ejs、mogodb、bootstarpを扱います。</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/mbridge1015" role="button">GitHub &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Gitブランチ番号トレース機能について</h2>
          <p>メニューのGitHubは、Gitのブランチ番号と作業内容を管理する簡単なアプリケーションです。勉強のため敢えてmongodbをデータベースにしました。全件検索、1件登録機能のみ。検索画面はDatatableを使用、削除・更新機能を追加予定</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  </div><!--container-->
<% include ./common/footer %>